.footer {
  background-color: #f8f8f8;
  padding-top: 4rem;
  margin-top: 4rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;

  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-column h4 {
  margin-bottom: 0.5rem;
}

.footer-column a {
  text-decoration: none;
  color: #555;
}

.footer-column p {
  color: #666;
}


.footer-bottom {
  text-align: center;

  padding: 2rem;

  margin-top: 3rem;

  border-top: 1px solid #ddd;
}