.table-container {
  width: 100%;

  overflow-x: auto;

  -webkit-overflow-scrolling: touch;
}

.orders-table {
  width: 100%;

  min-width: 750px;

  border-collapse: collapse;

  background: white;

  border-radius: 18px;

  overflow: hidden;

  margin-top: 2rem;

  box-shadow:
    0 6px 20px
    rgba(0, 0, 0, 0.05);
}

.orders-table thead {
  background: #f8fafc;
}

.orders-table th {
  padding: 18px;

  text-align: left;

  color: #6b7280;

  font-size: 0.9rem;

  font-weight: 600;

  border-bottom: 1px solid #e5e7eb;
}

.orders-table td {
  padding: 18px;

  border-bottom: 1px solid #f1f5f9;
}

.orders-table tbody tr {
  transition: 0.25s;
}

.orders-table tbody tr:hover {
  background: #f8fafc;
}

.buy {
  color: #00b386;

  font-weight: 700;
}

.sell {
  color: #ef4444;

  font-weight: 700;
}

.action-buttons {
  display: flex;

  gap: 0.5rem;
}

.edit-btn {
  border: none;

  background: #387ed1;

  color: white;

  padding: 8px 14px;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;
}

.delete-btn {
  border: none;

  background: #ef4444;

  color: white;

  padding: 8px 14px;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 0.9;
}