header {
    padding: 1rem 4rem;
    background-color:;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

nav div:last-child{
    display: flex;
    gap: 2rem;
}